In [ ]:
#  comments are not read by the Python interpreter

Variables

In [14]:
var = "My Variable"

In [15]:
print(var)

My Variable

In [16]:
# variables are storage devices that can store antything and anything that is put in variables is evaluated

Naming Conventions

## Naming Conventions 

snake_case 

camelCase

PascalCase

In [17]:
my_variable = "A new variable"

Basic Data Types

In [21]:
# Strings, ints, floats, boolean

my_str = "12, 345a;sdfghjkla"
str2 = str("what our string is")
print(my_str)
str2

12, 345a;sdfghjkla

'what our string is'

In [22]:
my_int = 12 
int2 = int(21)
int3 = int(21.223)

print(my_int,int2,int3 )

12 21 21

In [23]:
my_float = 1.111
float2 = float(1)
print(my_float, float2)

1.111 1.0

In [24]:
str(my_float)

'1.111'

In [25]:
float(my_str)

ValueError: could not convert string to float: '12, 345a;sdfghjkla'

In [26]:
# booleans 
boolean = True
my_bool = bool(my_str)
boolean, my_bool

(True, True)

In [27]:
type(boolean)

bool

In [28]:
type(my_str)

str

In [31]:
is_greater_than_twelve = my_int > 12
is_greater_than_twelve

False

In [32]:
my_str.upper()

'12, 345A;SDFGHJKLA'

In [46]:
a = my_str.upper()
b = str2.capitalize()
c = str2.title()
d = str2.count("a")

print(a,b,c,d)

12, 345A;SDFGHJKLA What our string is What Our String Is 1

In [47]:
len(str2)

18

In [48]:
my_float + my_int

13.111

In [49]:
my_int + my_float

13.111

In [50]:
int(my_float) + my_int

13

In [51]:
4*2

8

In [52]:
4/2

2.0

In [53]:
4**2

16

In [ ]:
import math
neg = 123.22
abs(neg) 
math.floor(neg)
math.ceil(neg)

124