In [ ]:
import pandas as pd 
# %pip install scipy 
from scipy import stats 
url = "https://raw.githubusercontent.com/nkmwicz/data-for-students/refs/heads/main/soccer-players.csv"
df = pd.read_csv(url)
df.head()

Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.13/site-packages (1.15.3)
Requirement already satisfied: numpy<2.5,>=1.23.5 in /opt/anaconda3/lib/python3.13/site-packages (from scipy) (2.1.3)
Note: you may need to restart the kernel to use updated packages.

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,...,right,184.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,...,left,190.0,NaN,Neubauer 13 GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0,8000000.0
2,65,Dimitar,Berbatov,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Blagoevgrad,Bulgaria,...,NaN,NaN,NaN,CSKA-AS-23 Ltd.,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dimitar-berbat...,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0,34500000.0
3,77,NaN,Lúcio,Lúcio,2012,506,lucio,Brazil,Brasília,Brazil,...,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/lucio/profil/s...,IT1,Juventus Football Club,200000.0,24500000.0
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,...,right,194.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tom-starke/pro...,L1,FC Bayern München,100000.0,3000000.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32403 entries, 0 to 32402
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             32403 non-null  int64
 1   first_name                            30345 non-null  object
 2   last_name                             32403 non-null  object
 3   name                                  32403 non-null  object
 4   last_season                           32403 non-null  int64
 5   current_club_id                       32403 non-null  int64
 6   player_code                           32403 non-null  object
 7   country_of_birth                      29600 non-null  object
 8   city_of_birth                         29942 non-null  object
 9   country_of_citizenship                32023 non-null  object
 10  date_of_birth                         32356 non-null  object
 11  sub_position                          32218 non-null  object
 12  position                              32403 non-null  object
 13  foot                                  29810 non-null  object
 14  height_in_cm                          30059 non-null  float64
 15  contract_expiration_date              20272 non-null  object
 16  agent_name                            16388 non-null  object
 17  image_url                             32403 non-null  object
 18  url                                   32403 non-null  object
 19  current_club_domestic_competition_id  32403 non-null  object
 20  current_club_name                     32403 non-null  object
 21  market_value_in_eur                   30869 non-null  float64
 22  highest_market_value_in_eur           30869 non-null  float64
dtypes: float64(3), int64(3), object(17)
memory usage: 5.7+ MB

In [3]:
df.shape

(32403, 23)

In [5]:
df. describe()

,player_id,last_season,current_club_id,height_in_cm,market_value_in_eur,highest_market_value_in_eur
count,3.240300e+04,32403.000000,32403.000000,30059.000000,3.086900e+04,3.086900e+04
mean,3.445789e+05,2019.337777,4809.252045,182.291161,1.611350e+06,3.675045e+06
std,2.806831e+05,3.965914,11601.982978,6.971224,6.362017e+06,9.653897e+06
min,1.000000e+01,2012.000000,3.000000,17.000000,1.000000e+04,1.000000e+04
25%,1.066980e+05,2016.000000,403.000000,178.000000,1.000000e+05,2.750000e+05
50%,2.824210e+05,2020.000000,1071.000000,183.000000,2.500000e+05,8.000000e+05
75%,5.242085e+05,2023.000000,3060.000000,187.000000,7.000000e+05,2.800000e+06
max,1.309800e+06,2024.000000,110302.000000,207.000000,2.000000e+08,2.000000e+08

In [6]:
df['height_in_cm'].mean()

np.float64(182.29116071725608)

In [13]:
def convert(float:float) -> float:
    return float * 0.0328084

df['height_in_cm'].median()

183.0

In [14]:
import statistics as stats 
stats.mean(df['height_in_cm'].dropna())
stats.median(df['height_in_cm'].dropna())
stats.mode(df['height_in_cm'].dropna())

180.0

In [15]:
df['height_in_cm'].min()
df['height_in_cm'].max()

207.0

In [17]:
from scipy import stats as st 
# st.skew(df['height_in_cm'].dropna())
st.skew(df['height_in_cm'], nan_policy="omit")

np.float64(-1.7750589204621985)

In [ ]:
df.loc[df['height_in_cm'] < 100, 'height_in_cm'] #.count()

25290    19.0
25976    18.0
26907    18.0
30360    17.0
Name: height_in_cm, dtype: float64

In [21]:
convert(150)

4.92126

In [22]:
st.kurtosis(df['height_in_cm'], nan_policy="omit")

np.float64(40.36548066183285)

In [ ]:
df = df.loc[df['height_in_cm'] > 150]

In [23]:
print(f"old space = {df.shape}")
df = df.loc[df['height_in_cm'] > 150]
print(f"new shape = {df.shape}")

old space = (32403, 23)
new shape = (30055, 23)

In [24]:
sk = st.skew(df['height_in_cm'])
kurt = st.kurtosis(df['height_in_cm'])
print(f"skew = {sk}; kurt = {kurt}")

skew = -0.046876795739341504; kurt = -0.3076357973086874

In [ ]:
def eda(df:pd.DataFrame) -> None:
    print(f"DF shape = {df.shape}")
    for col in df.columns:
        print(f"{'='*4}"{col}{'='*4}")
        if pd.api.types.is_numeric_dtype(df[col]):
         print(f"\t{col} is numeric")
         print(f"\t Mean = {df[col].mean()}")
         print(f"Median = {df[col].median()}")
         print(f"Mode = {df[col].mode()}")
         print(f"\t ST.Dev = {df[col.std(): 3f]}")
         print(f"\t 33%ile = {df[col].quantile(0.33)}")
         print(f"\t 66%ile = {df[col].quantile(0.66)}")
        else:
            print(f"\t{col} is categorical")
            print(f"\t # Nullish = {df[col].isna().sum()}")
            print(f"\t")
            
eda(df)

SyntaxError: unterminated string literal (detected at line 3) (2588808452.py, line 3)